body > div,
.header * {
  border: 1px solid white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;

  display: grid;
  grid-template-columns: 1fr 3fr;
}

.header {
  grid-column: 2 / -1;
  grid-row: 1 / span 1;
  padding: 0.5rem 1rem;

  display: grid;
  grid-template-columns: 2fr / 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 0.5rem;
}

.sidebar {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;

  display: flex;
  flex-direction: column;
}

.main-content {
  grid-column: 2 / -1;
  grid-row-start: 2;
}

.search-bar {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.user-info {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.user-greeting {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.user-greeting > img {
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
}

.user-actions {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  display: flex;
  justify-content: space-between;
}
